# 1.5 Version de las Bibliotecas

In [43]:
pip install ads

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ads in /home/celis/.local/lib/python3.11/site-packages (0.12.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ads) (1.16.0)
Requirement already satisfied: mock in /home/celis/.local/lib/python3.11/site-packages (from ads) (5.1.0)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from ads) (2.25.1)
Requirement already satisfied: httpretty==0.8.10 in /home/celis/.local/lib/python3.11/site-packages (from ads) (0.8.10)
Requirement already satisfied: werkzeug in /home/celis/.local/lib/python3.11/site-packages (from ads) (3.0.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/celis/.local/lib/python3.11/site-packages (from werkzeug->ads) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import ads
import pandas as pd

In [35]:
pd.__version__

'2.1.1'

In [36]:
ads.__version__

'0.12.3'

link de los datos = https://www.kaggle.com/datasets/dileep070/heart-disease-prediction-using-logistic-regression/

In [37]:
datos = pd.read_csv("data/framingham.csv")
datos.sample(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
2190,1,37,2.0,1,1.0,0.0,0,1,0,165.0,134.5,91.0,27.97,86.0,80.0,0
2677,1,52,2.0,0,0.0,0.0,0,0,0,210.0,128.0,87.0,26.25,67.0,61.0,0
1641,0,40,NaN,0,0.0,0.0,0,0,0,228.0,116.0,78.0,27.72,62.0,75.0,0
3871,1,45,1.0,1,20.0,0.0,0,1,0,256.0,144.0,96.0,26.60,75.0,83.0,0
3102,1,54,1.0,1,30.0,0.0,0,1,0,177.0,162.5,99.5,22.97,65.0,93.0,1

In [38]:
datos.shape

(4238, 16)

In [39]:
datos.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

###  2.2 Cargando el CSV

In [50]:
 from ads.dataset.factory import DatasetFactory

 ds = DatasetFactory.open("data/framingham.csv")
 ds.head()

ModuleNotFoundError: No module named 'ads.dataset'

In [ ]:
type(ds)

NameError: name 'ds' is not defined

In [ ]:
type(datos)

pandas.core.frame.DataFrame

In [49]:
ds.columns

NameError: name 'ds' is not defined

In [ ]:
dict_ing_esp = {
    "male":"sexo",
    "age":"edad",
    "education":"escolaridad",
    "currentSmoker":"fumador",
    "cigsPerDay":"cigarrillos_por_dia",
    "BPMeds":"uso_medicamentos_presion",
    "prevalentStroke":"acv",
    "prevalentHyp":"hipertension",
    "diabetes":"diabetes",
    "totChol":"colesterol_total",
    "sysBP":"presion_arterial_sistolica",
    "diaBP":"presion_arterial_diastolica",
    "BMI":"imc",
    "heartRate":"fracuencia_cardiaca",
    "glucose":"glicemia",
    "TenYearCHD":"riesgo_eac_decada"
}

In [ ]:
ds = ds.rename_columns(columns=dict_ing_esp)

NameError: name 'ds' is not defined

In [47]:
ds.columns

NameError: name 'ds' is not defined

In [ ]:
ds.head()

In [51]:
ds = ds.drop_columns("escolaridad")

NameError: name 'ds' is not defined

In [52]:
ds.columns

NameError: name 'ds' is not defined