# 1.5 Version de las Bibliotecas

In [2]:
pip install ads

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ads in /home/celis/.local/lib/python3.11/site-packages (0.12.3)
Requirement already satisfied: werkzeug in /home/celis/.local/lib/python3.11/site-packages (from ads) (3.0.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ads) (1.16.0)
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (from ads) (2.25.1)
Requirement already satisfied: httpretty==0.8.10 in /home/celis/.local/lib/python3.11/site-packages (from ads) (0.8.10)
Requirement already satisfied: mock in /home/celis/.local/lib/python3.11/site-packages (from ads) (5.1.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/celis/.local/lib/python3.11/site-packages (from werkzeug->ads) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import ads
import pandas as pd

In [4]:
pd.__version__

'2.1.1'

In [5]:
ads.__version__

'0.12.3'

In [7]:
datos = pd.read_csv("data/framingham.csv")
datos.sample(5)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
613,1,44,2.0,1,20.0,0.0,0,0,0,157.0,108.0,70.0,20.56,60.0,82.0,0
1719,1,48,1.0,1,20.0,0.0,0,0,0,268.0,116.5,82.0,21.34,60.0,82.0,0
2281,1,39,4.0,0,0.0,0.0,0,1,0,208.0,146.0,92.0,25.91,69.0,74.0,0
476,1,49,1.0,0,0.0,0.0,0,0,0,168.0,127.0,74.0,27.38,63.0,85.0,0
3198,0,59,1.0,0,0.0,0.0,0,0,0,225.0,132.0,80.0,28.41,58.0,88.0,0

In [8]:
datos.shape

(4238, 16)

In [9]:
datos.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')